.Mzn-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;

  &__left {
    order: 2;
  }

  &__text {
    margin-bottom: 12px;
  }
}

@media (max-width: 600px) {
  .Mzn-about {
    grid-template-columns: 1fr;
    gap: 40px;

    &__left {
      order: -1;
    }
  }
}
