.Mzn-feature {
  max-width: 900px;

  &__left {
    order: 2;
  }

  &__lists {
    list-style: none;
    display: grid;
    gap: 15px;
  }

  &__list {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 8px;

    & svg {
      color: var(--color-primary);
      stroke-width: 2;
      margin-top: 3px;
    }
  }
}
