.Mzn-tab-container {
  display: flex;
  margin-top: 30px;
}

.Mzn-tabs {
  list-style: none;
  display: flex;
  overflow: auto;
}

.Mzn-tab {
  flex-shrink: 0;

  &__btn {
    border: none;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
    padding: 12px 20px;
    font-family: var(--font-primary);
    font-size: 17px;
    color: #666;
    cursor: pointer;
    transition: all 0.3s;

    &.active {
      color: var(--color-primary);
      border-bottom: 2px solid var(--color-primary);
    }

    &:hover {
      color: var(--color-primary);
    }
  }
}
