*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #666666;
  line-height: 1.6;
  background-color: #f3f3f3;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

/* Scrollbar start */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  overflow: visible;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dadce0;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #80868b;
  cursor: pointer;
}
/* Scrollbar end */
