.Mzn-project-wrapper {
  & .Mzn-section-sub-heading {
    margin-bottom: 0;
  }
}

.Mzn-projects-container {
  margin-top: 40px;
}

.Mzn-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  list-style: none;
  height: auto;
  transition: height 0.3s;
}

.Mzn-project {
  border: 1px solid #eaeaea;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  transition: box-shadow 0.15s ease;
  cursor: pointer;
  display: flex;
  height: 100%;
  flex-direction: column;
  &:hover {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
  }

  &__image {
    display: block;
    border-bottom: 1px solid #f7f7f7;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  &__desc {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 4px;
    transition: color 0.3s;

    &:hover {
      color: var(--color-primary);
    }
  }

  &__tools {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
  }

  &__link-group {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    padding-top: 4px;
    color: var(--color-primary);
    transition: all 0.3s;
    cursor: pointer;
    margin-top: auto;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 600px) {
  .Mzn-projects {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
